.about {
	display: flex;
	min-height: 100vh;
	padding-bottom: 5rem;

	@include phone {
		padding: 2rem 0 5rem;
	}

	.about-inner {
		background: $light-grey;
		padding: 2rem 1rem;
		display: flex;
		justify-content: center;
		margin: auto 0;

		@include phone {
			flex-direction: column;
		}

		&__img {
			max-width: 450px;
			width: 40%;
			position: relative;

			@include tablet {
				width: 30%;
			}

			@include phone {
				max-width: initial;
				width: 100%;
				top: -4rem;
			}

			.gimage {
				height: calc(100% + 5rem);
				width: 100%;

				@include phone {
					height: 250px;
				}
			}
		}

		&__content {
			position: relative;
			padding: 0 2rem;
			width: 60%;

			@include tablet {
				width: 60%;
			}

			@include phone {
				top: -2rem;
				width: 100%;
			}

			.about-title {
				margin: 0;
				position: relative;
				left: 0;
				text-transform: uppercase;
				letter-spacing: 0.08rem;

				@include phone {
					left: 0;
				}
			}

			.about-text {
				p {
					margin: 0 0 1rem;

					&.lead {
						font-size: 1.25rem;
					}
				}
			}
		}
	}
}
