.contact {
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	min-height: 100vh;
	position: relative;

	&__content {
		display: flex;
		margin: auto;
		max-width: 850px;
		width: 100%;

		@include tablet {
			flex-direction: column;
		}

		.contact-data {
			display: flex;
			flex-direction: column;
			width: 60%;

			@include tablet {
				width: 100%;
			}

			.contact-title {
				font-weight: 2.5rem;
				letter-spacing: 0.25rem;
				text-transform: uppercase;
			}

			.icon {
				&:before {
					margin-right: 1rem;
					position: relative;
					top: 3px;
				}
			}

			.contact-card {
				border: 1px solid rgba($white, 0.3);
				display: flex;

				&__image {
					border-radius: 50%;
					height: 60px;
					width: 60px;
					margin: auto 1rem;
				}

				&__info {
					padding: 0 1rem;
					width: calc(100% - 60px);

					.card-name {
						font-size: 1rem;
						text-transform: uppercase;
					}

					.card-link {
						display: block;
						font-size: 1rem;
						font-weight: $light;
						text-decoration: none;
						transition: all 0.3s;
						width: fit-content;

						&:hover {
							background: rgba($white, 0.2);
							opacity: 0.85;
							padding: 0 0.5rem;
						}
					}
				}
			}

			.mail {
				border-bottom: 1px solid $white;
				font-size: 1.25rem;
				text-decoration: none;
				transition: all 0.3s;
				width: fit-content;

				&:hover {
					border-bottom: 1px solid transparent;
					opacity: 0.7;
				}
			}

			.social {
				display: flex;
				list-style: none;

				&__icon {
					margin: 0 1rem 1rem 0;

					a {
						background: rgba($white, 0.4);
						border-radius: 50%;
						display: flex;
						height: 40px;
						text-decoration: none;
						transition: all 0.3s;
						width: 40px;

						.icon {
							margin: auto;

							&:before {
								position: relative;
								margin: 0;
								top: 1px;
							}
						}

						&:hover {
							background: $black;
						}
					}
				}
			}
		}

		.contact-form {
			width: 40%;

			@include tablet {
				width: 100%;
			}

			.form-block {
				.form-input {
					background: rgba($white, 0.4);
					border: none;
					font-family: $main-font;
					font-size: 1rem;
					transition: all 0.4s;
					width: 100%;

					@include placeholder {
						color: $white;
						transition: all 0.4s;
					}

					&.textarea {
						resize: vertical;
						height: 100px;
					}

					&:focus {
						background: $white;

						@include placeholder {
							opacity: 0;
							padding: 0 2rem;
						}
					}
				}
			}

			.form-submit {
				background: rgba($white, 0.4);
				border: 1px solid $white;
				cursor: pointer;
				font-family: $main-font;
				font-size: 1rem;
				letter-spacing: 0.1rem;
				text-align: center;
				text-transform: uppercase;
				transition: all 0.3s;
				width: 100%;

				&:hover {
					background: $black;
				}
			}
		}
	}
}
