@import './includes/*.scss';

body {
	color: $dark-grey;
	font-family: $main-font;
	font-weight: $light;
	font-size: 18px;
	scroll-behavior: smooth;

	.main-content {
		padding: 0 0 0 180px;

		@include tablet {
			padding: 60px 0 0;
		}
	}
}

@import './components/*.scss';
