@font-face {
	font-family: 'Colaborate';
	src: url('fonts/colablig-webfont-webfont.woff2') format('woff2'),
		url('fonts/colablig-webfont-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Colaborate';
	src: url('fonts/colabbol-webfont-webfont.woff2') format('woff2'),
		url('fonts/colabbol-webfont-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
